@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {

    /* --bodyBg: linear-gradient(to left, #003147, #004d6e, #006a99, #0089c5, #03a9f4); */
    --bodyBg: lightblue;
    --sideBackground: #003147;
    --textColor: #03a9f4;
    --sideBarTitle: #fff;
    --percentBack: #081921;
    --aboutText: #2a7da2;
    --skillsBG: var(--textColor);
}

body {
    background: fixed var(--bodyBg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: var(--sideBarTitle);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0, 0.1);
}

.container .left_side {
    position: relative;
    background: var(--sideBackground);
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);

}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: var(--sideBarTitle);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}

.contactInfo .title {
    color: var(--sideBarTitle);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--textColor);
}

.contactInfo ul li span {
    color: var(--sideBarTitle);
    font-weight: 300;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: var(--textColor);
    font-weight: 500;
}

.contactInfo.education h4 {
    color: var(--sideBarTitle);
    font-weight: 300;
}

.contactInfo.education h4:nth-child(2) {
    color: var(--sideBarTitle);
    font-weight: 500;
}

.contactInfo.languages .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: var(--percentBack);
    display: block;
    margin-top: 5px;

}

.contactInfo.languages .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--textColor);

}

.container .right_side {
    position: relative;
    background: var(--sideBarTitle)fff;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: var(--sideBackground);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
    text-align: justify;
}

a {
    text-decoration: none;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;

}

.about .box h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: var(--aboutText);
    font-size: 16px;
}

.about .box ul li {
    position: relative;
    list-style-type: circle;
    margin-left: 20px;
}

.skills .boxes {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skills .box {
    padding: 5px;
    background: var(--skillsBG);
    box-shadow: 2px 1px 0px var(--percentBack);
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    color: var(--sideBackground);
    font-weight: 600;
    font-size: 15px;
    min-width: 100px;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: var(--sideBarTitle);
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--textColor);
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.interest ul li {
    list-style: none;
    color: var(--textColor);
    font-weight: 500;
    margin: 10px 0;
    border: 1px solid var(--textColor);
    border-radius: 15px;
    padding: 5px;
}

.interest ul li .fa {
    color: var(--textColor);
    font-size: 18px;
    width: 25px;
}

.projects h4 {
    text-transform: capitalize !important;
}

.developedIn {
    font-weight: 500;
    text-shadow: 2px 1px 5px var(--textColor);
}

@media (max-width:1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills .boxes {
        grid-template-columns: repeat(4, 1fr);
    }

    .interest ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:600px) {
    .about .box {
        flex-direction: column;
    }

    .about .box .year_company {
        min-width: 150px;
        margin-bottom: 5px;
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }
}